@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme {
  --animate-marquee: marquee linear 10s infinite;

  @keyframes marquee {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-display: "Manrope", sans-serif;
  --font-paaji: "Roboto", sans-serif;
  --color-primary: oklch(68.5% 0.169 237.323);
  --shadow-input: 0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
  --shadow-dark: 0px 2px 3px -1px rgba(183, 170, 170, 0.1),
    0px 1px 0px 0px rgba(168, 172, 176, 0.02),
    0px 0px 0px 1px rgba(107, 109, 113, 0.08);
  --pattern-fg: rgba(199, 179, 179, 0.8);
  --pattern-fg1: rgba(127, 103, 103, 0.1);
  --color-line: oklch(94.309% 0.00011 271.152);
  --stop-topline: oklch(71.2% 0.194 13.428);
  --stop-middleline: oklch(68.5% 0.169 237.323);
  --stop-endline: oklch(85.2% 0.199 91.936);
  --stop-coolline: oklch(75.971% 0.01569 94.275);
}
.dark {
  --background: #111010;
  --foreground: #f5f5f5;
}
